<div class="parent">
  <div class="login-parent">
      <form class="login-form" #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo.value)">
          <label class="label" for="">Username</label>
          <input type="email" class="input-box" name="email" required ngModel #username="ngModel">
          <div class="error-message" *ngIf="username.touched && !username.valid">Enter the valid username</div>
          <label class="label" for="">Password</label>
          <input type="password" class="input-box password" name="password" required ngModel
              #password="ngModel">
          <div class="error-message" *ngIf="password.touched && !password.valid">Enter the valid password</div>
          <div class="button-parent">
              <button type="submit" class="submit-button">Log In</button>
          </div>
      </form>
      <div class="remember-me-parent">
          <input type="checkbox" class="checkbox">
          <label class="remember-me-text" for="">Remember me</label>
      </div>
      <div class="button-parent">
        <button  class="show-button" (click)="showToken()">show Token</button>
    </div>
  </div>
</div>